<ion-header>
  <ion-toolbar>
    <ion-title class="tampilmenu">
      MENU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item >
     
    <ion-icon name="list"></ion-icon>  
  <ion-button href="/daftar"><ion-label><div><h1>daftar</h1></div></ion-label>
    
  </ion-button>
 
</ion-item>
<ion-item >
    <ion-icon name="basket"></ion-icon>

  <ion-button href="/keranjang"><ion-label><div><h1>Keranjang</h1></div>
 </ion-label>    
  </ion-button>

</ion-item >
  
<ion-item>
    <ion-icon name="add-circle-outline"></ion-icon>
  <ion-button href="/tambahproduk"><ion-label><div><h1>Tambah Produk</h1></div></ion-label>
  </ion-button>
</ion-item>



</ion-content>
