<ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="login">
      <form class="login-container">
        <p><input type="email" placeholder="E-mail"></p>
        <p><input type="password" placeholder="Password"></p>
        <p><input type="submit" value="Log In"> </p>
      </form>
    </div>
    
  
</ion-content>

<ion-footer>
    <ion-item >
      <ion-button href="/tabs/tab3">Kembali </ion-button>
    </ion-item>
  
  
  </ion-footer>
